@import '_reset';
@import '_var';


@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url('~/static/fonts/Roboto-Bold.ttf');
}
body{
	background: #ffcccf;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	font-weight: bold;
}

#header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: auto;
	background: #525563;
	border-bottom: 2px &my_pink solid;
}
.search{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#vuebox{
	display: flex;
	flex-direction: row;
	width: 800px;
	justify-content: space-around;
}

#logo{
	img {
		width: 200px;
		height: 60px;
		background: #2c3144;
	};
}

.userdate{
	display: flex;
	flex-direction: column;
	align-items: left;
	color: #681741;
}

#user{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #fe7087;
	width: 180px;
	padding: 10px;
	border-bottom: 2px &my_pink solid;
	img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		};
	p {
		padding: 5px;
		margin: 0px;	
		color: &my_pink;
		&:hover{
			text-decoration: underline;
			color: #eff0f1;
		};
	}
}

.userPost{
	font-weight: normal;
}

#wrap {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
}
#col_left{
	background: #525563;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;;
	align-items: flex-start;
	flex-wrap: wrap;
	color:#bccad4;	
	width: 200px;
	ul {
		list-style-type: none;
		li {
			width: 180px;
			padding: 15px 10px;
			&:hover{
			background: #272b3b;
			color: #eff0f1;
			}
		}		
	}
}

#content{
	background-color: #f5ebec;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

#one {
	width: 97%;
	padding: 0px 10px;
} 

#three {
	width: 30%;
	padding: 0px 10px;
}

.success{
	@extend .interface;
	color: &text_color;
	background: $first_green;
	&:hover{
		background: $second_green;
	};
}

.info{
	@extend .interface;
	color: &text_color;
	background: $first_blue;
	&:hover{
		background: $second_blue;
	};
}

.error{
	@extend .interface;
	color: &text_color;
	background: $first_red;
	&:hover{
		background: $second_red;
	};
}

.warning{
	@extend .interface;
	color: &text_color;
	background:$first_brown;
	&:hover{
		background: $second_brown;
	};
}
#three {
	width: 30%;
	height: 100%;
	margin: 10px;
	padding: 10px;
	border: 3px black solid;
	display: inline-block;
	background: #A9A9A9;
}

#one {
	width: 100%;
	margin: 10px;
	padding: 10px;
	border: 3px black solid;
	display: block;
	background: #778899;
}
.one{
	background: #2F4F4F;
	font-size: 14pt;
	color: #DCDCDC;
}

aside {
    background-color: #fff;
    width: 250px;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
button {
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    font-size: 30px;
    outline: none;
    color: #9f9f9f;
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease-in-out;
		&:active {
		    background-color: rgba(0,0,0,0.1);
		}
}
.slide-transition {
    transition: all .3s cubic-bezier(.65, .05, .36, 1);
}

/*.slide-enter {
    left: -100%;
}﻿
.slide-leave{
    left: -100%;
}﻿*/